doctype html
html
	head
		meta(charset='utf-8')
		title=_title
		link(rel='stylesheet', href='/index.css')
		script(type='text/javascript').
			function sumbitForm() {
				var orgUrl = document.getElementById('orgUrl').value;
				if(orgUrl == null || orgUrl == '' || orgUrl.trim() == '') {
					alert('Insert URL, please.');
				} else {
					document.getElementById('shortenForm').submit();
				}
			}
	body
		h1 Shorten URL
		form(id='shortenForm' action='/result' method='post')
			p
				input(id='orgUrl' type='text' name='orgUrl' placeholder='Insert Original URL.' value='')
			p
				button(type='button' onclick='sumbitForm()') Shorten ▶